@import variables
@import genericmixins

*
    box-sizing: border-box

body
    font-size: 16px
    margin: 0
    font-family: 'Open Sans', Arial, serif
    background: #222

a
    color: $lightblue
    transition: color .2s 
    text-decoration: none

.button
    display: inline-block
    position: relative
    background-color: $darkblue
    border: 1px solid $lightblue
    text-decoration: none
    color: #fff
    padding: 10px 50px
    text-align: center
    transition: color .2s, background-color .2s, border-color .2s
    font-size: 18px
    font-weight: 400
    &--small
        font-size: 15px
        padding: 7px 42px
    &--tiny
        padding: 4px 20px
        font-size: 13px
        line-height: 1
        z-index: 2
        &:hover
            background-color: $lightblue
    &--overlay
        margin-bottom: 10px
        padding-left: 0
        padding-right: 0
        width: 100%
        &:hover
            background-color: $lightblue

.is-tertiary
    background-color: rgba(0,0,0, .2)
    border: 1px solid rgba(255,255,255, .15)
    color: $lightblue
    &:hover
        color: #fff

.link--overlay
    display: flex
    align-items: center
    padding: 10px 0
    &:not(:last-child)
        border-bottom: 1px solid rgba(255,255,255, .1)
    &:hover .card__svg
        fill: #fff

.overlay-icon
    flex-shrink: 0
    margin-right: 5px
    height: 2em
    width: 2em
    display: inline-block
    position: relative
    vertical-align: middle

.pane
    margin: 0 auto
    padding: 20px 40px
    background-image: url('https://d9me64que7cqs.cloudfront.net/images/common/background-generic-landscape-short-c67b55f50ca032607997398840751185782dd86436566617ed80dd553f62a890f554ca38ef1de26c6d60b4976ebea6145b9916091073d06823aa9853a093f3e7.jpg') 
    background-repeat: no-repeat
    background-position: center
    border-top: 1px solid rgba(0,174,255, .3)
    border-bottom: 1px solid rgba(0,174,255, .3)

.cards
    display: block
    overflow-x: hidden
    padding: 20px 0
    font-size: 0
    white-space: nowrap

.card
    display: inline-block
    width: 167px
    height: 200px
    position: relative
    box-shadow: 0 8px 17px rgba(0,0,0, .1)
    &:not(:first-child)
        margin-left: 20px
    &__face
        +fullabs
        background-size: cover
        background-position: bottom center
        background-repeat: no-repeat
        border: 1px solid rgba(255,255,255, .15)
    &__overlay
        +fullabs
        border: 1px solid $lightblue
        background: rgba(0,0,0, .85)
        transition: opacity .2s ease-out
        opacity: 0
        &:hover
            opacity: 1
    &__content
        position: absolute
        left: 15px
        right: 15px
        top: 20px
        transform: translateY(20px)
        transition: transform .2s ease-out
        font-size: 14.4px
    &:hover &__content
        transform: translateY(0)
    &__svg
        fill: $lightblue

.text-options
    color: #fff
    font-size: 14.4px

.heading
    font-size: 35.154px
    font-weight: 300
    margin: 0 0 20px
    &__svg
        display: block
        fill: $lightblue
    &__link
        display: inline-flex
        align-items: center
        &:hover .heading__text, &:hover .heading__svg
            color: #fff
        &:hover .heading__svg
            fill: #fff
    &__text        
        color: #fff
        &--link
            font-size: 14.4px
            margin-left: 1rem 
            color: $lightblue
    &__icon
        width: .4em
        height: .35em

.honor
    font-size: 18px
    line-height: 1.7
    color: rgba(255,255,255, .5)
    font-weight: 400
    margin: 0

.cookie
    position: fixed
    bottom: 10px
    right: 10px
    background: linear-gradient(180deg, #283244, rgba(21,26,35, .95))
    box-shadow: 0 8px 17px 0 rgba(0,0,0, .2)
    min-height: 88px
    z-index: 3
    width: calc(100% - 20px)
    &::after
        content: ''
        position: absolute
        border: 1px solid rgba(255,255,255, .15)
        display: block
        top: 0
        left: 0
        right: 0
        bottom: 0
    &__content
        position: relative
        padding: 20px
    &__header
        font-size: 17px
        font-weight: 400
        line-height: 1
        color: #fff
        margin: 0
    &__text
        font-size: 13px
        color: rgba(255,255,255, .5)
        line-height: 1.4
        margin: 10px 0
    &__desktopOnly
        display: none
    &__icon
        display: inline-block
        width: 17px
        height: 1px
        margin-left: 5px
        position: relative
        svg
            position: absolute
            top: -1em
            left: 0 
            right: 0
            bottom: 0
            fill: currentColor
            width: 17px
            height: 17px
    &__close
        position: absolute
        top: 0
        right: 0
        height: 44px
        width: 44px
        z-index: 2
        color: #69707c
        &:hover
            color: #fff
        svg
            position: absolute
            fill: currentColor
            top: 10px
            display: block
            left: 10px
            right: auto
            bottom: auto
            width: 24px
            height: 24px


@media (min-width: 768px)
    .cookie
        width: 380px
        &__desktopOnly
            display: block
        &__mobileOnly
            display: none