*
    box-sizing: border-box

body
    font-size: 18px
    margin: 0

.pane
    min-height: 50vh
    &__content
        padding-left: 40px
        padding-right: 40px
        height: 240px

.pane::before,
.pane::after
    content: ''
    border-top: 1px solid rgba(0, 174, 255, .3)
    display: block

.heading__link
    display: inline-flex

.card
    display: inline-block
    padding: 20px 0
    position: relative
    width: 167px
    height: 200px

.divider
    height: 1px
    background-color: rgba(255,255,255,.15)

.additions a
    display: inline-block
    text-decoration: none
    color: #00aeff
    transition: color .2s

.additionalLink:not(:last-child)
    padding-right: 20px
    margin-right: 20px
    border-right: 1px solid rgba(255,255,255, .15)

.additionalLink
    &__label
        margin-right: 5px
        display: inline-block
        color: rgba(255,255,255, .8)
    &__text
        color: #00aeff
