doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title blizzard cards
        link(href="css/styles.css" rel="stylesheet")
    body
        .pane
            .pane__content
                h2.heading
                    a(href="#").heading__link
                        span Games
                        span View all games
                h3 Blizzard
                .cards
                    .card
            .divider
            .additions
                a(href="#")
                    .additionalLink
                        .additionalLink__label All games, one app:
                        span.additionalLink__text
                            .Icon.additionalLink__Icon
                            | Blizzard Battle.net Desktop App
                a(href="#")
