doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title blizzard cards
        link(href="css/styles.css" rel="stylesheet")
    body
        .pane
            h2.heading 
                a(href="#").heading__link
                    span.heading__text Games
                    span.heading__text.heading__text--link View all games
                    .heading__icon
            h3.honor Blizzard
            .cards
                .card
                    .card__face(style="background-image: url(https://bnetcmsus-a.akamaihd.net/cms/page_media/XMG50RXK21EC1506441173958.jpg)")
                    .card__overlay
                .card
                    .card__face(style="background-image:url(https://bnetcmsus-a.akamaihd.net/cms/page_media/M7G2U62LWFRW1506441174974.jpg)")
                    .card__overlay